<h1>Create user</h1>

<form [formGroup]="form" (ngSubmit)="submitForm()" autocomplete="off">
  <p>
    <mat-form-field class="text-input">
      <input matInput type="text" placeholder="Username" formControlName="username" minLength="3" maxLength="60">
    </mat-form-field>

    <mat-form-field class="text-input">
      <input matInput type="password" placeholder="Password" formControlName="password" minLength="3" maxLength="50">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="text-input">
      <input matInput type="text" placeholder="First name" formControlName="firstName" minLength="1" maxLength="50">
    </mat-form-field>

    <mat-form-field class="text-input">
      <input matInput type="text" placeholder="Last name" formControlName="lastName" minLength="1" maxLength="50">
    </mat-form-field>
  </p>

  <p class="button-list">
    <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary">Create</button>
    <button mat-raised-button color="warn" routerLink="/users">Storno</button>
  </p>
</form>

