.docs-navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  background: #3f51b5;
}

.docs-navbar-header .main-title {
  margin-right: 50px;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
}

.docs-navbar-header .menu-button {
  color: #fff;
}

.container {
  margin: 50px auto;
  width: 960px;
}
