<nav class="docs-navbar-header">
  <button mat-button class="main-title" routerLink="/">EasyAdmin System</button>

  <button mat-button class="menu-button" color="white" routerLink="/dashboard/">Dashboard</button>
  <button mat-button class="menu-button" routerLink="/users/">Users</button>
  <button mat-button class="menu-button" routerLink="/login">Login</button>
  <button mat-button class="menu-button" routerLink="/registration">Registration</button>
  <button mat-button class="menu-button" routerLink="/users/settings">Settings</button>
  <button mat-button class="menu-button" routerLink="">Logout</button>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
